body {
    background-color: papayawhip;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    min-width: 300px;
    text-align: center;
}

h1 {
   margin: 20px;
}

ul {
    text-align: left;

}

ol {
    text-align: left;
}

img {

}